<stock-dialog #stockDialog></stock-dialog>

<div class="page-container">
    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav" (click)="showSidebar = !showSidebar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bovespa Tracker</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left" [ngClass]="{'active': showSidebar}">

            <!-- sidebar -->
            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4 sidebar-offcanvas" id="sidebar" role="navigation">
                <stocks-filter-form (applyFilter)="filterTable($event)"></stocks-filter-form>
            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
<!--<div class="container">-->
    <!--<div class="col-md-12">-->
                <div class="stock-list">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Papel</th>
                                <th *ngFor="let column of columns" (click)="sortByColumn(column)">{{
                                    indicators[column?.indicator]?.name }} <span [ngClass]="getColumnClass(column)"></span></th>
                                <th>Tendência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stock of stocks" (click)="showStockDialog(stock)" [ngClass]="{'star-stock': isStarStock(stock)}">
                                <td>{{ stock.name }}</td>
                                <td *ngFor="let column of columns">
                                    <div *ngIf="stock['pos'+column?.indicator]">{{ stock['pos'+column?.indicator] }} ({{ stock[column?.indicator] }}<span *ngIf="indicators[column?.indicator]?.percentage">%</span>)</div>
                                    <div *ngIf="!stock['pos'+column?.indicator]">{{ stock[column?.indicator] }}<span *ngIf="indicators[column?.indicator]?.percentage">%</span></div>
                                </td>
                                <td>
                                    <div *ngIf="stock['analysis']">
                                        <span [ngClass]="getTrendClass(stock['analysis']['short'])"></span>
                                        <span [ngClass]="getTrendClass(stock['analysis']['medium'])"></span>
                                        <span [ngClass]="getTrendClass(stock['analysis']['long'])"></span>
                                        <br/>
                                        <span>{{stock.analysis.date}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>